<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>SNAP Dispatcher</title>
    <link rel="icon" href="WPI_logo.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="admin.css">
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar">
    <ul class="navbar-nav">
        <li>
            <a href="/index">Home</a>
        </li>
    </ul>
</nav>

<div class="container" style="align-content: center">
    <h2 style="text-align: center">Admin</h2>
</div>

<div class="menuContainer">
    <ul class="menuList">
        <li><a href="/vanStatus" class="menuItem">Check/Edit Van Status</a></li>
        <li><a href="#" class="menuItem"> Export Archive to csv</a></li>
        <li><a href="#" class="menuItem"></a></li>

    </ul>
</div>



</body>